h1{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 127, 80) ;

}

p{

    text-align: center;
    font-size: 40px ;
    color: rgb(250, 67, 0);

}
body{
    background-color: rgb(0, 255, 255);
    font-family: Verdana, 

}
.teste{
    color: #dc143c;
    color: rgb(127, 255, 0);
}
